@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link rel="stylesheet" href="C:\Users\Todor\source\repos\Lean-BultCuisineLab\Lean-BultCuisineLab\wwwroot\css\site.css" />
</head>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
